body {
  font-family: "Open Sans";
  padding: 0px;
  margin: 0;
  height: 100%;
}

.App h1 {
  background: lightblue;
  margin: 0%;
  padding: 10px;
  text-align: center;
  height: 10%;
}

/* Loaders */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #97bc62ff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  background: rgb(98, 188, 183);
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
  background: rgb(129, 98, 188);
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
  background: rgb(188, 98, 188);
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
  background: rgb(188, 98, 147);
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.DataDisplay {
  display: flex;
  flex-wrap: nowrap;
  background: rgb(243, 243, 243);
  height: 45%;
}

/* Booklist */
.DataDisplay > div:first-child {
  background: #97bc62ff;
  color: white;
  width: 50%;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}
.DataDisplay > div:first-child > h3 {
  color: white;
  text-align: center;
}

/* Booklist items */
.DataDisplay div ul li {
  display: inline-block;
  cursor: pointer;
  background: #2c5f2d;
  color: white;
  margin: 10px;
  list-style: none;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
  font-size: 1em;

  transition: 0.2s all;
}

.DataDisplay div:hover ul li {
  filter: blur(1px);
  opacity: 0.7;
  transform: scale(0.98);
  box-shadow: none;
}
.DataDisplay div:hover ul li:hover {
  filter: blur(0px);
  opacity: 1;
  transform: scale(1);
  box-shadow: 7px 7px 7px;
}

/* Booklist scrollbar */
.DataDisplay > div::-webkit-scrollbar {
  background: inherit;
  width: 9px;
}
.DataDisplay > div::-webkit-scrollbar-track {
  background: inherit;
}
.DataDisplay > div::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 9px;
  border: 0px solid #000;
}
.DataDisplay > div::-webkit-scrollbar-button {
  display: none;
}

/* Book details */

.DataDisplay > div:nth-child(2) {
  background: #2c5f2d;
  width: 50%;

  margin: 0px;
  text-align: center;
  padding: 10px;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

td,
th {
  border: 1px solid #ddd;
  margin: 0px;
  padding: 7px;
  color: #000;
  border: 0;
}

tr:nth-child(odd) {
  background-color: #cdf0e0;
  border: 0;
}
tr:nth-child(even) {
  background-color: #8ce4bc;

  border: 0;
}

tr:hover {
  background-color: #ddd;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #00203fff;
  color: white;
}

/*  form */
.forms {
  display: flex;
  flex-wrap: nowrap;
  height: 45%;
}
.forms > div {
  width: 50%;
}
.AddBook {
  display: flex;
  flex-wrap: nowrap;
}
.AddBook form {
  background: #364775;
  box-shadow: -5px 0px 5px #fff;
  width: 100%;

  margin: 0px;
  padding: 10px 25%;
}
.AddAuthor {
  display: flex;
  flex-wrap: nowrap;
}
.AddAuthor form {
  background: #2d8168;
  box-shadow: -5px 0px 5px #fff;
  width: 100%;

  margin: 0px;
  padding: 10px 25%;
}

form .field {
  display: flex;
  flex-wrap: nowrap;
}

form .field input {
  width: 100%;
  height: 25px;
  margin: 7px 5px;
  border-radius: 14px;
  padding: 3px 25px;
}

form .field select {
  width: 100%;
  height: 33px;
  margin: 7px 5px;
  padding: 3px 25px;
  border-radius: 10px;
}
form .field label {
  text-align: right;
  margin: 11px;
  color: #fff;
}
form button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 15px;
  border-radius: 15px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 10px 0% 10px 70%;
}
form h3 {
  color: white;
  text-align: center;
}
form input:focus,
button:focus,
select:focus {
  outline: none;
}
form button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
